// https://coolors.co/dcedff-94b0da-8f91a2-505a5b-343f3e
// https://coolors.co/2d3142-bfc0c0-ffffff-ef8354-4f5d75
$blue: #2980B9;
$cream: #fefefe;
$dark-blue: #2d3142;
$dark-gray: #494949;
$gray: #8F91A2;
$gray-blue: #4f5d75;
$light-blue: #94B0DA;
$orange: #ef8354;
$silver: #bfc0c0;
$text-gray: #333;
$white: #fff;
$white-blue: #dcedff;

$font-raleway: 'Raleway', sans-serif;
